.todo-title {
	background: -webkit-linear-gradient(#E68A2E, #FF9933);
	background: -o-linear-gradient(#E68A2E, #FF9933);
	background: -moz-linear-gradient(#E68A2E, #FF9933);
	background: -webkit-linear-gradient(#E68A2E, #FF9933); /* Standard syntax */
    margin-bottom: 10px;
    color: white;
    padding: 10px;
}

.todos-title {
	background-color: #4466bb;
    color: white;
}

.row .table {
	background-color: #ffffff;
}

.todo-progress-text {
	color: white;
}

.task-done {
	color: green;
	text-decoration: line-through;
}

.table th {
   text-align: center;   
}

.myListsIcon {
	padding: 10px;
}

.main {
	background-color: #ffe0b2;
	padding: 50px;
}

.show {
	display: block;
}

.hide {
	display: none;
}

body {
	background-color: gray;
}