.table-title-row {
	background: -webkit-linear-gradient(#E68A2E, #FF9933);
	background: -o-linear-gradient(#E68A2E, #FF9933);
	background: -moz-linear-gradient(#E68A2E, #FF9933);
	background: -webkit-linear-gradient(#E68A2E, #FF9933); /* Standard syntax */
    margin-bottom: 10px;
    color: white;
    padding: 10px;
}

.row .table {
	background-color: #ffffff;
}

.todo-progress-text {
	color: white;
}

.task-done {
	color: green;
	text-decoration: line-through;
}

.table th {
   text-align: center;   
}

.myListsIcon {
	padding: 10px;
}
body {
	background-color: #ffe0b2;
}