/*Styling for login page*/

body {
  background-image: url("/global/images/background.jpg");
}

.login-container {
  border: 1px solid gray;
  min-width: 250px;
  max-width: 350px;
  padding: 25px;
  margin-top: 150px;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-device-width: 280px) {
  .login-container {
    margin-top: 50px;
    padding: 100px;

  }
}