/*Styling for login page*/

body {
  background-color: gray;
}

.login-container {
  border: 1px solid gray;
  position: absolute;
  top: 25%;
  bottom: 25%;
  left: 30%;
  right: 30%;
  min-width: 250px;
  min-height: 350px;
  padding: 25px;
  background-color: white;
}