<div class="container text-center">
	<div class="row">
		<h3>{{currList | uppercase}}</h3>
	</div>
	<div class="row">
		<table class="table">
			<thead>
				<th>TASK</th>
				<th>Done?</th>
				<th>Edit?</th>
				<th>Remove</th>
			</thead>
			<tbody>
				<tr ng-repeat="task in tasks">
					<td class="col-md-9">{{task.name}}</td>
					<td class="col-md-1">
						<input type="checkbox" ng-model="task.done" class="form-control" ng-click="toggleTask(task)">
					</td>
					<td class="col-md-1"><button class="btn btn-info">Edit</button></td>
					<td class="col-md-1"><button class="btn btn-danger" ng-click="removeTask(task._id)">Remove</button></td>
				</tr>
			</tbody>
		</table>
		<input type="text" class="form-control" placeholder="Add a new task" ng-model="thisTask">
		<button class="btn btn-primary" ng-click="addTask()">Add</button>
	</div>
</div>